<a href="https://colab.research.google.com/github/KangJaeHun/python-class/blob/main/object_4)class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
class Student:
  def __init__(self, name, korean, math, english, science):
    self.name = name
    self.korean = korean
    self.math = math
    self.english = english
    self.science = science

  def get_sum(self):
    return self.korean + self.math +\
      self.english + self.science
  def get_average(self):
    return self.get_sum() / 4

  def to_string(self):
    return "{}\t{}\t{}".format(\
      self.name,\
      self.get_sum(),\
      self.get_average())
    

students = [
    Student("윤인성", 87,98,88,95),
    Student("연하진", 92,98,96,98),
    Student("구지연", 76,96,94,90),
    Student("나선주", 98,92,96,92),
    Student("윤아린", 95,98,98,98),
    Student("윤명월", 64,88,92,92)
]


print("이름", "총점", "평균", sep="\t")
for student in students:

    print(student.to_string())

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0